.avi {
    top: 6104px;
left: 162px;
width: 1870px;
height: 581px;
/* UI Properties */
background: transparent url('/Rectangle 89.svg') 0% 0% no-repeat padding-box;
border-radius: 60px 0px 0px 217px;
opacity: 0.05;
  }
  