html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell,Sofia Pro Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/*** Colors ***/

:root {
  --black-color: #000000;
  --CONGRESSIONAL-NAVY-COLOR: #14003A;
  --DUGONG-COLOR: #707070;
  --HYDRARGYRUM-COLOR: #9A9A9A;
  --white-color: #ffffff;
  --AURICHALCITE-COLOR: #29F1D6;
  --WINTERGREEN-COLOR: #1AF380;

}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  box-shadow: 0.5vw 0.5vw 2vw 0vw rgb(0, 0, 0, 0.1);
  &.primary-btn{
    color: var(--white-color);
    background-color: var(--AURICHALCITE-COLOR);
    height: 2.1875vw;
    width: 17.552vw;
    border-radius: 4vw;
    font-size: 0.9375vw;
    cursor: pointer;
    border: 0.15625vw solid var(--AURICHALCITE-COLOR);
  }

  &.secondary-btn {
    border-radius: 4vw;
    font-size: 0.9375vw;
    cursor: pointer;
    height: 2.1875vw;
    color: var(--WINTERGREEN-COLOR);
    border: 0.15625vw solid var(--WINTERGREEN-COLOR);
  }
  &.third-btn {
    top: 1606px;
left: 222px;
width: 297px;
height: 41px;
/* UI Properties */
border: 3px solid #1AF380;
opacity: 1;
    border-radius: 4vw;
    font-size: 0.9375vw;
    cursor: pointer;
    height: 2.1875vw;
    color: var(--WINTERGREEN-COLOR);
    border: 0.15625vw solid var(--WINTERGREEN-COLOR);
  }
  
}

.container {
  height: 100%;
  width: 100%;
  padding: 0 11.5625vw;
}

* {
  box-sizing: border-box;
}
