.footer {
    height: 55.385vw;
    background-color: white;
    box-sizing: border-box;
    padding: 1.764vw 0;
  
    .footerContent {
      display: flex;
      justify-content: space-between;
  
      a {
        &.logo {
          width: 12.447vw;
          height: 3.645vw;
          background-image: url("../public/images/logo-white.svg");
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          display: block;
          margin: 0 0 0.911vw;
        }
      }
  
      .fistBlc {
        width: 41.14583vw;
  
        p {
          color: var(#14003A);
          font-size: 1.041vw;
          padding-left: 0.760417vw;
          
          font-size: 1.145vw;
        //   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Bold ;
          font: normal normal bold 22px/22px Segoe UI ;
        }
      }
  
      .secondBlc {
        
  
        top: 60.7421875vw;
        left: 62.5vw;
        width: 47.721354166666664vw;
        height: 72.72135416666667vw;
        /* UI Properties */
        background: transparent url('/test-app/public/images/Groupe 924.png ') 0% 0% no-repeat padding-box;
        opacity: 1;
  
      }
  
      
       
  
      
    }
  }
  