.suppliers {
    padding: 4.427vw 0;
  p {
    font-size: 1.145vw;
    width: 42.604vw;
    margin: 0 auto 2.083vw;
    text-align: left;
    color: var(--DUGONG-COLOR);
    padding-left: 12.760416666666666vw;
    

  }
  
    .blcImg {
      width: 39.479vw;
      margin: 0 auto;
    }
  }
  