.suppliers {
    padding: 4.427vw 0;
  p {
    font-size: 1.145vw;
    width: 42.604vw;
    margin: 0 auto 2.083vw;
    text-align: left;
    color: var(--DUGONG-COLOR);
    padding-left: 12.760416666666666vw;
    

  }
 
  
    .blcImg {
      width: 39.479vw;
      margin: 0 auto;
    }
    
  }
  .ecr{
    left: 23.299479vw;
    width: 45.588542vw;
    height: 0.018229vw;
    text-align: inherit;
    font: normal normal normal 1.3020833333vw/1.5625vw Sofia Pro;
    letter-spacing: 0px;
    color: #898989;
    opacity: 1;
    padding-left: 12.257813vw;
    
  margin: revert;
  padding-right: -1.6276041666666667vw;


 
  }