.suppliers {
  padding: 4.427vw 0;
p {
  font-size: 1.145vw;
  width: 42.604vw;
  margin: 0 auto 2.083vw;
  text-align: center;
  color: var(--DUGONG-COLOR);
}
.content   {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .blcImg {
    width: 39.479vw;
    margin: 0 auto;
  }
  .p1 {
    font-size: 1.145vw;
  
   
   
      
     text-align: left;
    color: var(--DUGONG-COLOR);
  }
}
.blcImg {
  width: 39.479vw;
  margin: 0 auto;
}
}
