.titleSec {
    h1 {
      text-align: left;
      font-size: 2.291vw;
      color: var(--CONGRESSIONAL-NAVY-COLOR);
      margin: 0 0 2.213vw;
      padding-left: 12.760416666666666vw;

      &::after {
        content: "";
        display: table-caption;
        width: 6.09375vw;
        height: 0.208vw;
        background-color: var(--AURICHALCITE-COLOR);
        margin: 1vw auto 0;
        border-radius: 3vw;
        
      }
    }
    }
    